{% extends 'base.html' %} {% block title %} About {% endblock %} {% block
content %}

<div class="position-relative">
  <img
    id="image"
    src="{{ url_for('static', filename='images/apmp-side-gate.jpg') }}"
    alt=""
    style="width: 100%; height: 750px; object-fit: cover"
  />
</div>

<div class="container my-5">
  <div class="d-flex flex-column align-items-center">
    <img
      src="{{url_for('static', filename='images/logo.png')}}"
      alt="APMP Logo"
      style="max-width: 400px"
    />
    <i
      style="
        font-size: 1.1em;
        font-weight: 600;
        color: #413a3a;
        margin-top: 10px;
      "
      >"USHERING YOU TO THE NEXT LIFE"</i
    >
  </div>
</div>

<div class="container p-3" style="color: #413a3a">
  <div class="text-center mb-5">
    <h1>About Us</h1>
  </div>

  <div class="row mb-4">
    <div class="col col-12 col-sm-12 col-md-7 d-flex align-items-center">
      <p
        style="font-size: 1.2rem; font-weight: 500; padding-right: 20px"
        align="justify"
      >
        Establish in 2007,
        <strong
          >Apostle Paul Memorial Park of Aringay, La Union, Inc. (APMP),</strong
        >
        continues its tradition of services, care, and goodwill ot the Filipino
        people. APMP is a 29-hectare memorial park development in the heart of
        La Union, which offers lush landscapes and well-maintained park grounds,
        equipped with utilities such as electrical, drainage, irrigation, and
        security.
      </p>
    </div>

    <img
      class="col col-12 col-sm-12 col-md-5 text-center"
      src="{{url_for('static', filename='images/apmp-side-gate.jpg')}}"
      alt=""
      style="object-fit: cover"
    />
  </div>

  <div class="row mb-4">
    <div class="col col-12 col-sm-12 col-md-7 d-flex align-items-center">
      <p
        style="font-size: 1.2rem; font-weight: 500; padding-right: 20px"
        align="justify"
      >
        The development of the APMP is hinged on tranquility and serenity. The
        wide open spaces and beautiful array of trees blend beautifully with the
        layout of the memorial park, which ensures a peaceful and calm
        atmosphere. With its motto - <i>"Ushering you to the next life"</i>,
        APMP is committed to providing world-class service for a reasonable
        price, as epitomized by its team of professionals and well-trained staff
        who exemplify the values of dignity, compassion, respect, caring
        service, and attention to detail.
      </p>
    </div>

    <img
      class="col col-12 col-sm-12 col-md-5 text-center"
      src="{{url_for('static', filename='images/inside-apmp3-for-about.jpg')}}"
      alt=""
      style="object-fit: cover"
    />
  </div>

  <div class="row mb-4">
    <div class="col col-12 col-sm-12 col-md-7 d-flex align-items-center">
      <p
        style="font-size: 1.2rem; font-weight: 500; padding-right: 20px"
        align="justify"
      >
        APMP not only focuses on our dearly departed but also on the bereaved
        families. For this reason, APMP is conveniently located in a secure
        setting with environmentally-sound structures, which makes it a great
        place for meaningful reflection and fond remembrance of your loved ones.
      </p>
    </div>

    <img
      class="col col-12 col-sm-12 col-md-5 text-center"
      src="{{url_for('static', filename='images/inside-apmp4-for-about.jpg')}}"
      alt=""
      style="object-fit: cover"
    />
  </div>
</div>

<div class="container" style="color: #413a3a; margin-bottom: 100px">
  <div class="d-flex justify-content-center mt-5">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/kEJnpG0Bb6w?autoplay=1&mute=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>

  <h1 style="margin-top: 60px; margin-bottom: 40px">Location</h1>
  <div class="d-flex justify-content-center">
    <iframe
      style="border: 1px solid black"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3828.214547289505!2d120.35647571478665!3d16.363029635843713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339177eefab3e8cb%3A0x4f58688624f91c21!2sApostle%20Paul%20Memorial%20Park!5e0!3m2!1sen!2sph!4v1677377856363!5m2!1sen!2sph"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>

<script>
  var image = document.getElementById("image");
  var currentImageIndex = 1;

  setInterval(function () {
    currentImageIndex++;
    if (currentImageIndex > 7) {
      currentImageIndex = 1;
    }

    var image_path = "";

    switch (currentImageIndex) {
      case 1:
        image_path =
          "{{ url_for('static', filename='images/apmp-side-gate.jpg') }}";
        break;
      case 2:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp1.jpg') }}";
        break;
      case 3:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp2.jpg') }}";
        break;
      case 4:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp3.jpg') }}";
        break;
      case 5:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp4.jpg') }}";
        break;
      case 6:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp5.jpg') }}";
        break;
      case 7:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp6.jpg') }}";
        break;
    }

    image.src = image_path;
  }, 3000);
</script>
{% endblock %} {% block message_form %}
<form method="POST">
  {{ msgForm.hidden_tag() }}
  <h4>Send us message</h4>
  <div>
    {{ msgForm.name(class="form-control", placeholder="Name") }}
    <!-- <input class="form-control" type="text" placeholder="Name" aria-label="default input example">-->
  </div>
  <div>
    {{ msgForm.email(class="form-control", placeholder="Email")}}
    <!--  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">-->
  </div>
  <div>
    {{ msgForm.contact_number(class="form-control", placeholder="Contact
    number")}}
    <!-- <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Contact number"> -->
  </div>
  <div>
    {{ msgForm.message(class="form-control", rows="3", placeholder="Message")}}
    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea> -->
  </div>
  <div class="d-flex justify-content-end mt-3">
    {{ msgForm.submit(class="btn btn-primary")}}
    <!--  <button type="submit" class="btn btn-primary">Send</button>-->
  </div>
</form>
{% endblock %}
