{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block
content%}
<div class="position-relative">
  <img
    id="image"
    src="{{ url_for('static', filename='images/apmp-side-gate.jpg') }}"
    alt=""
    style="width: 100%; height: 750px; object-fit: cover"
  />

  <div class="position-absolute top-50 start-50 translate-middle">
    <div
      style="
        background-color: rgba(0, 0, 0, 0.563);
        color: white;
        padding: 40px;
        border-radius: 10px;
      "
    >
      <div class="text-center mb-1" style="font-size: 1.3em; font-weight: 500">
        APOSTLE PAUL MEMORIAL PARK OF LA UNION INC
      </div>
      <div class="text-center" style="font-size: 1.9em; font-weight: 600">
        <i>"USHERING YOU TO THE NEXT LIFE"</i>
      </div>
    </div>
  </div>
</div>

<div class="card my-5 mx-5 py-5 px-4 border-secondary">
  <div class="d-flex justify-content-center mb-5">
    <h2
      style="
        color: white;
        background-color: #59937b;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      "
    >
      Our Products
    </h2>
  </div>
  <div class="card border-secondary mx-auto" style="max-width: 850px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ url_for('static', filename='images/image1.jpg') }}"
          class="img-fluid rounded-start"
          alt="..."
          style="height: 100%; object-fit: cover"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">STANDARD LOT</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <!--
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              -->
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-outline-primary btn-sm">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-secondary mx-auto mt-4" style="max-width: 850px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ url_for('static', filename='images/image1.jpg') }}"
          class="img-fluid rounded-start"
          alt="..."
          style="height: 100%; object-fit: cover"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">PRIME LOT</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-end">
            <a
              href="{{url_for('products')}}"
              class="btn btn-outline-primary btn-sm"
              >READ MORE</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card border-secondary mx-auto mt-4" style="max-width: 850px">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ url_for('static', filename='images/image1.jpg') }}"
          class="img-fluid rounded-start"
          alt="..."
          style="height: 100%; object-fit: cover"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">SUPER PRIME LOT</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-outline-primary btn-sm">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid brief-about-us">
  <div class="container footer">
    <div class="row gy-3">
      <div class="col col-12 col-sm-12 col-md-7 pe-5">
        <h4>About Us</h4>
        <p>
          Brief introduction about Apostle Paul. Lorem ipsum dolor sit amet
          consectetur. Est varius tincidunt amet orci tempus pulvinar integer
          quis tellus. Cursus eu at faucibus elementum metus. Lorem ipsum dolor
          sit amet consectetur. Est varius tincidunt amet orci tempus pulvinar
          integer quis tellus. Cursus eu at faucibus elementum metus.
        </p>
      </div>
      <div class="col col-12 col-sm-12 col-md-5">
        <iframe
          width="100%"
          height="315"
          src="https://www.youtube.com/embed/aAb56mSpwaU?autoplay=1&mute=1"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</div>

<script>
  var image = document.getElementById("image");
  var currentImageIndex = 1;

  setInterval(function () {
    currentImageIndex++;
    if (currentImageIndex > 7) {
      currentImageIndex = 1;
    }

    var image_path = "";

    switch (currentImageIndex) {
      case 1:
        image_path =
          "{{ url_for('static', filename='images/apmp-side-gate.jpg') }}";
        break;
      case 2:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp1.jpg') }}";
        break;
      case 3:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp2.jpg') }}";
        break;
      case 4:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp3.jpg') }}";
        break;
      case 5:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp4.jpg') }}";
        break;
      case 6:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp5.jpg') }}";
        break;
      case 7:
        image_path =
          "{{ url_for('static', filename='images/inside-apmp6.jpg') }}";
        break;
    }

    image.src = image_path;
  }, 3000);
</script>

<!-- Chat widget source: https://github.com/Horizon733/rasa-webchat -->
<!-- YouTube video tutorial on how to customize the chat widget: https://www.youtube.com/watch?v=n4XTy8M7zlU -->
<!-- https://www.youtube.com/watch?v=eJMT2FovZsM -->
{% endblock %} {% block message_form %}
<form method="POST">
  {{ msgForm.hidden_tag() }}
  <h4>Send us message</h4>
  <div>
    {{ msgForm.name(class="form-control", placeholder="Name") }}
    <!-- <input class="form-control" type="text" placeholder="Name" aria-label="default input example">-->
  </div>
  <div>
    {{ msgForm.email(class="form-control", placeholder="Email")}}
    <!--  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">-->
  </div>
  <div>
    {{ msgForm.contact_number(class="form-control", placeholder="Contact
    number")}}
    <!-- <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="Contact number"> -->
  </div>
  <div>
    {{ msgForm.message(class="form-control", rows="3", placeholder="Message")}}
    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea> -->
  </div>
  <div class="d-flex justify-content-end mt-3">
    {{ msgForm.submit(class="btn btn-primary")}}

    <!--  <button type="submit" class="btn btn-primary">Send</button>-->
  </div>
</form>
{% endblock %}
