<div class="row row-cols-xs-1 row-cols-sm-1 row-cols-md-2">
    <div class="col" style="border: 1px solid black;">
      <h4>Get in touch with us</h4>
      <div class="container">
        <div class="contact">
          <a href="">
            <img src="{{ url_for('static', filename='images/icon/location.png') }}" alt="Location icon">
          San Eugenio, Aringay, La Union
          </a>
        </div>
        <div class="contact">
          <img src="{{ url_for('static', filename='images/icon/phone.png') }}" alt="Phone icon">
          Mobile Numbers: 0938.7387 | 0948.11.698 | 0916.708.1070
        </div>
      </div>
      <div class="container">
        <div class="contact-platform">
          <img src="{{ url_for('static', filename='images/icon/facebook.png')}}" alt="Facebook logo">
          <img src="{{ url_for('static', filename='images/icon/gmail.png')}}" alt="Gmail logo">
          <img src="{{ url_for('static', filename='images/icon/yahoo.png')}}" alt="Yahoo logo">
        </div>
      </div>
    </div>
    <div class="col" style="border: 1px solid black;">
      con2
    </div>
  </div>