{% extends 'admin/admin-base.html' %}
{% block title %} Admin {% endblock %} 
{% block content%}

<div class="container p-3" style="width: 350px; border: 1px solid grey;">
    <form method="POST">
        {{ add_client_form.hidden_tag() }}
        <div class="mb-3">
            {{ add_client_form.first_name.label() }}
            {{ add_client_form.first_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.middle_name.label() }}
            {{ add_client_form.middle_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.last_name.label() }}
            {{ add_client_form.last_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.email.label() }}
            {{ add_client_form.email(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.address.label() }}
            {{ add_client_form.address(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.mobile_number.label() }}
            {{ add_client_form.mobile_number(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.sex.label() }}
            {{ add_client_form.sex(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.age.label() }}
            {{ add_client_form.age(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ add_client_form.birth_date.label() }}
            {{ add_client_form.birth_date(class="form-control") }}
        </div> 
        <div class="mb-3">
            {{ add_client_form.password.label() }}
            {{ add_client_form.password(class="form-control") }}
        </div>
        {{ add_client_form.submit(class="btn btn-primary") }}
      </form>
</div>
{% endblock %}
