{% extends 'admin/base.html' %}


{% block content %}

<div class="row">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Client Informations</h4>
          <form method="POST" class="forms-sample">
          {{ add_client_form.hidden_tag() }}
          <div class="form-group">
            {{ add_client_form.first_name.label() }}
            {{ add_client_form.first_name(class="form-control") }}
          </div>
          <div class="form-group">
              {{ add_client_form.middle_name.label() }}
              {{ add_client_form.middle_name(class="form-control") }}
          </div>
  
          <div class="form-group">
              {{ add_client_form.last_name.label() }}
              {{ add_client_form.last_name(class="form-control") }}
          </div>
  
          <div class="form-group">
              {{ add_client_form.email.label() }}
              {{ add_client_form.email(class="form-control") }}
          </div>
  
          <div class="form-group">
              {{ add_client_form.mobile_number.label() }}
              {{ add_client_form.mobile_number(class="form-control") }}
          </div>
  
          <div class="form-group">
              {{ add_client_form.address.label() }}
              {{ add_client_form.address(class="form-control") }}
          </div>
  
          <div class="form-group">
              {{ add_client_form.birth_date.label() }}
              {{ add_client_form.birth_date(class="form-control") }}
          </div>
  
          <div class="form-group">
              {{ add_client_form.name_of_spouse.label() }}
              {{ add_client_form.name_of_spouse(class="form-control") }}
          </div>
  
          <div class="form-group">
              {{ add_client_form.password.label() }}
              {{ add_client_form.password(class="form-control") }}
          </div>
  
          <hr class="mt-5">
          <h4 class="card-title">Lot Informations</h4>
          <div class="d-flex flex-row">
            <div class="form-group me-3" style="width: 150px">
                {{ add_client_form.phase_number.label()}}
                {{ add_client_form.phase_number(class="form-control") }}
            </div>
            <div class="form-group me-3" style="width: 150px">
            {{ add_client_form.lawn_number.label()}}
            {{ add_client_form.lawn_number(class="form-control") }}
            </div>
            <div class="form-group" style="width: 150px">
                {{ add_client_form.lot_number.label()}}
                {{ add_client_form.lot_number(class="form-control") }}
            </div>
          </div>

        <div class="form-group" style="width: 200px">
            {{ add_client_form.lot_status.label()}}
            {{ add_client_form.lot_status(class="form-control") }}
        </div>
          
          <hr class="mt-5">
          <h4 class="card-title">Lot Purchase Informations</h4>

          <div class="form-group">

          </div>

          <!--
                 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
           <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
          </button>
          -->

          
          <a href="{{ url_for('clients') }}" class="btn btn-light">Cancel</a>

          {{ add_client_form.submit(class="btn btn-primary") }}
          
         
          
          <!--
              <select id="greet" onchange="getOption()">
            <option value="hello">Hello</option>
            <option value="goodbye">Goodbye</option>
            <option value="seeYou">See you...</option>
          </select>
          -->
          </form>
          <!--
            <script>
            function getOption() {
                const select = document.createElement("select");
                select.setAttribute("id", "greet2");
                const option = document.createElement("option");
                option.setAttribute("value", "hello2")
                select.appendChild(option);

                node2 = document.createTextNode("hello2")
                node.appendChild(node2)
                const element = document.getElementById("div1");
                element.appendChild(para);
            }
          </script>
          -->
      </div>
    </div>
  </div>

{% endblock %}

       