{% extends 'client/base.html' %}
{% block content %}

<div class="row">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">OWNED LOTS</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Lot type</th>
              <th>Purchase by</th>
              <th>Lot status</th>
              <th>Lot ID</th>
              <th>Phase# - Law# - Lot#</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% set owned_lots = current_user.owned_lots %}
            {% for owned_lot in owned_lots %}
            <tr>
              <td class="py-1">{{ owned_lot.lot_type }}</td>
              <td>
                {% if owned_lot.purchase_detail.purchase_type == 'SPOT CASH' %}
                {{ owned_lot.purchase_detail.purchase_type }} {% else %}
                <a
                  href="{{ url_for('m_amor', m_amor_id = owned_lot.purchase_detail.monthly_amortization.monthly_amortization_id ) }}"
                >
                  {{ owned_lot.purchase_detail.purchase_type }}
                </a>
                {% endif %}
              </td>
              <td>{{ owned_lot.status }}</td>
              <td>{{ owned_lot.lot_id }}</td>
              <td>
                {{ owned_lot.lot_number }} - {{ owned_lot.lawn_number }} - {{
                owned_lot.lot_number }}
              </td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

    
{% endblock %}